/* Variables */
:root {
    --primary-color: #3f302c;
    --secondary-color: #fafafa;
    --accent-color: #8b8b8b;
    --font-family: 'Google Sans', 'Montserrat', 'Roboto', 'TikTok Sans', sans-serif;
}

/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* Header Styles */
header {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
    color: var(--secondary-color);
    font-weight: 200;
    opacity: 0.9;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

/* Main Styles */
.primary-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    height: 730px;
}

.primary-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.primary-nav li {
    margin: 0 30px;
    font-size: 2rem;
}

.primary-nav a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 200;
    margin: 0 15px;
    transition: color 0.3s;
}

.primary-nav a:hover {
    color: var(--accent-color);
}

/* Tooltip Styles */
.tooltip {
    visibility: hidden;
    width: 140px;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 1rem;
    bottom: 52%;
    transform: translateX(-90%);
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%; 
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--accent-color) transparent transparent transparent;
}

.tool-link:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 15px 0;
    background-color: var(--primary-color);
    color: var(--accent-color);
    font-size: 0.9em;
}